li.current a::after {
    margin-left: .5rem;
    content: "📍";
}

main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}

section{
    display: grid;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

ul{
    margin-left: 3rem;
}

.colors ul{
    gap: var(--medium);
}

.scenarios{
    gap: var(--medium);
}

.scenarios p{
    text-indent: 1rem;
}

