*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    position: relative;
}

/* If you use this CSS selector you modal will remain hidden until the correct
button is pressed */

/* depreciated */
/* :modal{

} */

/* this is the same thing as calling :modal but this will show on screen unless hidden
and you will need to use js to show it*/
/* :modal has higher priority as a Css selector*/
dialog{
    margin: auto auto;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, .1);
}

dialog button{
    background-color: blue;
    color: wheat;
    min-height: 44px;
    min-width: 44px;
     position: absolute;
    align-items: center;
    top: 23px;
    right: 23px;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .5rem;
    }

::backdrop{
    background-color: rgba(30, 30, 30, .5);
}

