.hero{
    gap: var(--small);
    position: relative;
    align-items: center;
}

.hero h2{
    padding: var(--medium);
    text-align: center;
}

.hero picture, .hero img {
    display: block;
    width: 100%;
}

.hero picture{
    border-radius: var(--radius);
    overflow: hidden;
    object-fit: cover;
    box-shadow: var(--shadow-less);
}

.hero .card img{
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--radius);
    height: auto;
}


.hero form{
    width: 100%;
}

.hero input[type="search"]{
    width: 100%;
    height: 44px;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--text1);
    opacity: .7;
}

.category{
    grid-template-columns: 1fr 1fr;
}

.category :first-child{
    grid-column: 1/-1;
    text-align: center;
}