/* 608px */
@media only screen and (min-width: 38em){

    header, main, nav, footer{
        max-width: 1600px;
        margin: 0 auto;
    }

    main{
        padding-bottom: 1rem;
    }

    /* Header */
    header{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header nav";
        position: relative;
    }
    .header{
        grid-template-columns: minmax(75px, 100px) 44px;
        grid-area: header;
    }

    /* Navigation */
    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        grid-area: nav;
        justify-content: end;
        width: 100%;
        padding-right: var(--medium);
        align-items: center;
    }

    .navigation ul{
        display: flex;
        flex: 1 1 200px;
    }

    .navigation li{
        flex: 1 1 200px;
        box-shadow: var(--shadow-dark);
    }

    /* Hero */
    .hero h2, .hero p, .hero div{
        display: flex;
        position: absolute;
        flex: 1 1 600px;
        max-width: 550px;
    }

    .hero h2, .hero p{
        background-color: rgba(250, 250, 250, .9);
        border-radius: var(--radius);
        padding: var(--medium);
    }

    .hero h2{
        top: 10%;
    }

    .hero p{
        top: 45%;
    }

    .hero div{
        bottom: 10%;
        justify-content: flex-end;
    }



    main a, main button{
        border-radius: var(--radius);
        border: var(--border);
    }

    /* Hover links and buttons */
    .navigation a:hover, main a:hover, main button:hover{
        background-color: var(--btn-bg-h);
        color: var(--text1);
        border-color: var(--color1);
        box-shadow: var(--shadow-light);
        scale: .97;
    }

    /* Footer */
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}