/* 608px */
@media only screen and (min-width: 38em){

    header, main, nav, footer{
        max-width: 1400px;
        margin: 0 auto;
    }

    main{
    padding-bottom: 1rem;
    }

    /* Header */
    header{
        grid-template-columns: 100px auto 44px;
    }

    header img{
        margin: 0 1rem;
    }

    header span {
        margin: 0 1rem;
        font-size: 2rem;
    }

    /* Navigation */
    .hamburger {
        display: none;
    }

    .navigation ul{
        flex-direction: row;
        gap: 1rem;
    }

    .navigation {
        display: block;
    }

    /* Hover links and buttons */
    .navigation a:hover, main a:hover, main button:hover{
        background-color: var(--btn-bg-h);
        color: var(--text1);
        border-color: var(--color1);
        box-shadow: var(--shadow-light);
    }

    /* Footer */
    footer{
        border-top: var(--broder);
        grid-template-columns: 1fr 1fr 1fr;
    }
}