/* 608px */
@media only screen and (min-width: 38em){

    header, main, nav, footer{
        max-width: 1600px;
        margin: 0 auto;
    }

    main{
        padding-bottom: 1rem;
    }

    /* Header */

    header{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header nav";
        position: relative;
    }
    .header{
        grid-template-columns: 75px 1fr;
        grid-area: header;
    }

    .header img{
        margin: 0 1rem;
    }

    .header span {
        margin: 0 1rem;
        font-size: 2rem;
    }

    /* Navigation */
    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        grid-area: nav;
        justify-content: end;
        width: 100%;
        padding-right: var(--medium);
        align-items: center;
    }

    .navigation ul{
        display: flex;
        flex: 1 1 200px;
    }

    .navigation li{
        flex: 1 1 200px;
        box-shadow: var(--shadow-dark);
    }

    main a, main button{
        border-radius: var(--radius);
        border: var(--border);
    }

    /* Hover links and buttons */
    .navigation a:hover, main a:hover, main button:hover{
        background-color: var(--btn-bg-h);
        color: var(--text1);
        border-color: var(--color1);
        box-shadow: var(--shadow-light);
        scale: .97;
    }

    /* Footer */
    footer{
        /* border-top: var(--border); */
        grid-template-columns: 1fr 1fr 1fr;
    }
}