/** Header **/

header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    gap: 8px;
    align-items: center;
    margin: 0 1rem; /* top/bottom 0, left/right 16px */
}

header img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

header a#logo{
    background: none;
    border: none;
    /* box-shadow: none; */
}

header span {
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--color1);
    margin-left: .5rem;
}

/** Hamburger **/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font2);
}

.hamburger::before {
    content: "\2630";
    font-size: 3.1rem;
    color: var(--color1);
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 5.3rem;
    color: var(--color1);
}

/** Navigation **/

.navigation {
    grid-column: 1/-1;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation li {
    border-radius: .5rem;
}

li.current a::after {
    margin-left: .5rem;
    content: "";
}

li.current a{
    background-color: var(--highlight);
}