/** Header **/

header{
    display: grid;
}

.header {
    grid-template-columns: 1fr 44px;
    gap: var(--small);
    align-items: center;
    margin: 0 var(--medium); /* top/bottom 0, left/right 16px */
}

.header img {
    display: block;
    width: 100%;
    height: auto;
}

#logo picture,
#logo img {
  height: auto;
  max-height: 100px;
  width: auto;
  display: block;
}

/** Hamburger **/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font2);
}

.hamburger::before {
    /* content: "\2630"; */
    content: "🍔";
    font-size: 2rem;
    color: var(--color1);
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 3.1rem;
    color: var(--color1);
}

/** Navigation **/

nav{
    width: 100%;
    grid-column: 1/-1;
    
}

.navigation {
    display: none;
}

.navigation.show {
    display: flex;
    flex-direction: column;
    gap: var(--small);
    width: 100%;
}

.navigation li{
    height: 45px; 
}

.navigation li a{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

li.current a::after, li.current a::before {
    content: "🥄";
    font-size: 1rem;
    display: inline-block;
}

/* transform/mirror spoon actual direction*/
li.current a::before{
    margin-right: var(--small);
    transform: scaleX(-1);
}

li.current a::after{
    margin-left: var(--small);
}

li.current a{
    background-color: var(--highlight);
}