/* Quote section */
.quote{
    position: relative;
    margin-left: 1rem;
    padding: 1rem;
    text-indent: 1rem;
}

.quote::before{
    position: absolute;
    left: -.5rem;
    top: 0;
    content: '“';
    color: var(--primary-color);
    font-size: 3rem;
}

.quote::after{
    position: absolute;
    right: .5rem;
    bottom: 0;
    content: '„';
    color: var(--primary-color);
    font-size: 3rem;
}

.quoter{
    text-align: right;
    margin-right: 2rem;
}

/* view display buttons grid/list */

#view-switch{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: 2rem;
    border-bottom: dotted;
}

#view-switch button{
    background-color: var(--primary-color);
    padding: .5rem;
    border-radius: .5rem;
    transition: 
        color 0.3s ease-in, 
        background-color 0.3s ease-in, 
        box-shadow 0.3s ease-out;
}

/* grid view */

.directory-grid{
    display: grid;
    /* repeat grids of 280px min or 300px max */
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: .5rem;
    background-color: rgba(250, 250, 250, .2);
    gap: .5rem;
    padding: .5rem;
}

.logo{
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
}

.business-head{
    display: flex;
    gap: 1rem;
}

/* list view */

.directory-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.directory-list .card{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 0 auto;
}

.directory-list .logo{
    display: none;
}

.directory-list .desc{
    display: none;
}

.directory-list .email{
    display: none;
}

.directory-list .business-head{
    text-align: left;
}



