.view-switch{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: 1rem;
    border-bottom: dotted;
}

.view-switch button{
    background-color: var(--primary-color);
    padding: .5rem;
    border-radius: .5rem;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, box-shadow 0.3s ease-out;
}

.view-switch button:hover{
    background-color: var(--secondary-color);
}

.directory{
    display: grid;
    /* repeat grids of 250px min or 350px max */
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted white; /* TEMPORARY */
}

.card img{
    border: 1px dotted white; /* TEMPORARY */

}