.view-switch{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: 1rem;
    border-bottom: dotted;
    
}

.view-switch button{
    background-color: var(--primary-color);
    padding: .5rem;
    border-radius: .5rem;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, box-shadow 0.3s ease-out;
}

.view-switch button:hover{
    background-color: var(--secondary-color);
}