.discover{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 1rem;   
}

.discover .card{
    display: grid;
    text-align: center;
    grid-template-areas:
        "heading"
        "image"
        "desc"
        "address"
        "link";
    min-width: 300px;
    align-items: center;
}

.discover .card h2{
    grid-area: heading;
    align-self: first baseline;
}

.discover .card figure{
    grid-area: image;
}

.discover .card figure img{
   border-radius: .5rem;
}

.discover .card p{
    grid-area: desc;
}

.discover .card address{
    grid-area: address;
}

.discover .card a{
    grid-area: link;
    align-self: last baseline;
    width: 100%;
}