.hero{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .5rem;
}

.hero .card{
    display: grid;
    min-width: 300px;
}

.hero picture, .hero img {
    display: block;
    width: 100%;
}

.hero img{
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: .5rem;
    height: auto;
}

.local-data {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-areas: 
    "events"
    "weather"
    "forecast";
    gap: .5rem;
    padding: 1rem;
}

.local-data > :nth-child(1) {grid-area: events;}
.local-data > :nth-child(2) {grid-area: weather;}
.local-data > :nth-child(3) {grid-area: forecast;}

.events-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.events ul, .events ol{
    list-style: none;
}

.events ol{
    text-indent: 1rem;
}

.events-list a::before{
    content: "➡️";
}

.weather, .events, .forecast{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}

.weather #weather-icon{
    padding: 0;
    width: 64px;
    height: auto;
}

.weather #desc, .weather #city{
    font-size: 1.2rem;
}

.forecast p:last-child{
    align-self: center;
    text-align: center;
    padding: .5rem;
}


