

.hero{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    gap: .5rem;
    width: 92%;
}

.hero picture, .hero img {
    display: block;
    width: 100%;
}

.hero h2{
    text-align: center;
}

.hero img{
    border: 1px dotted white;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
    height: auto;
}

.local-data {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-areas: 
    "events"
    " weather"
    "forecast";
    gap: .5rem;
    padding: 1rem;
}

.local-data > :nth-child(1) {grid-area: events;}
.local-data > :nth-child(2) {grid-area: weather;}
.local-data > :nth-child(3) {grid-area: forecast;}


.local-data h2{
    text-align: center;
}

.events-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.events ul, .events ol{
    list-style: none;
}

.events ol{
    text-indent: 1rem;
}

.events-list a::before{
    content: "➡️";
}

.weather, .events, .forecast{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}

.weather #weather-icon{
    padding: 0;
    width: 64px;
    height: auto;
}

.weather #desc, .weather #city{
    font-size: 1.2rem;
}

.forecast p:last-child{
    align-self: center;
    text-align: center;
    padding: .5rem;
}


