

.hero{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 1rem;
    min-width: 280px;
}


.hero img{
    border: 1px dotted white;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.local-data {
    display: grid;
    grid-template-columns: 288px;
    gap: .5rem;
    padding: 1rem;
}

.local-data h2{
    text-align: center;
}

.events ul{
    list-style: none;
}


