/* 500px */
@media (min-width: 500px){
    .local-data{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "events events"
        "weather forecast";
    }
}

/* 608px */
@media only screen and (min-width: 38em){

    header, main, nav, footer{
        max-width: 1400px;
        margin: 0 auto;
    }

    main{
        padding-bottom: 1rem;
    }

    header{
        grid-template-columns: 100px auto 44px;
    }

    header img{
        margin: 0 1rem;
    }

    header span {
        margin: 0 1rem;
        font-size: 2rem;
    }

    .hamburger {
        display: none;
    }

    .navigation ul{
        flex-direction: row;
        gap: 1rem;
    }

    .navigation {
        display: block;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }

    .btn:hover,
    .card a:hover,
    .navigation a:hover,
    .navigation li.current a:hover,
    .card button:hover, 
    .socials img:hover,
    .site-info a:hover{
        color: var(--primary-color);
        background-color: var(--background-color);
        box-shadow: 0px 2px 8px rgb(158, 196, 240);
        border: 2px var(--primary-color) solid;
        border-radius: .5rem;
        text-decoration: none;
    }

    #view-switch button:hover{
        background-color: var(--secondary-color);
    }

    .modified{
        grid-column: 2/3;
    }

    .hero .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .card h2{
        position: absolute;
        top: 35%;
        background-color: rgba(0, 0, 0, .5);
        border-radius: .5rem;
        padding: .2rem;
    }

    .hero .card a {
        position: absolute;
        bottom: 1.5rem;
    }

    .events-list{
        grid-template-columns: 1fr 1fr;
    }

    .forecast p:last-child{
        position: absolute;
        bottom: 0;
    }

    #thanks-message #timestamp{
        position: absolute;
        right: .5rem;
        top: 0;
    }

    .discover .card{
        grid-template-columns: 280px 1fr;
        grid-template-areas: 
            "image heading"
            "image desc"
            "image address"
            "image link";
        transition: 
            box-shadow .2s ease-in-out;
    }

    .discover .card:hover, 
    #directory .card:hover,
    #highlights .card:hover{
        box-shadow: 0 0px 12px 2px rgb(158, 196, 240);
    }

    .discover .card figure{
        display: flex;
        justify-content: left;
    }

    .discover .card img{
        transition: 
            transform 0.4s ease-in-out,
            scale 0.4s ease-in-out;
        transition-delay: .1s;
    }

    .discover .card img:hover{
        transform: rotate(1deg);
        scale: .9;
    }
}

/* 752px */
@media (min-width: 62em){

    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .directory-list section.card{
        display: grid;
        grid-template-columns: 180px 180px 1fr 1fr 96px;
        min-height: 96px;
        height: auto;
        width: fit-content;
        gap: 2rem;
        width: 100%;
        margin: 0;
    }

    .directory-list .business-head .membership{
        top: -1rem;
        right: -1rem;
    }

    .directory-list .business-head{
        min-width: 180px;
    }

    .directory-list .business-head .business-name{
        width: 156px;
    }

    .directory-list .address{
        grid-row: 1;
        grid-column: 3/4;
        min-width: 120px;
    }

    .directory-list .contact{
        grid-row: 1;
        grid-column: 2/3;
        width: 100%;
    }

    .directory-list .contact .phone{
        text-align: center;
    }

    .directory-list .desc{
        grid-row: 1;
        grid-column: 4/5;
        display: block;
        max-width: 600px;
    }

    .directory-list .logo{
        grid-column: 5/6;
        display: block;
        width: 80px;
        height: auto;
        right: 2rem;
    }

    .directory-list .address,
    .directory-list .business-head,
    .directory-list .contact
    {
        margin: 0;
        text-align: left;
    }

    .join{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem; 
        align-items: flex-start;  
    }

    .join-form fieldset legend{
        flex-direction: row;
        text-align: center;
    }

    .join-form fieldset{
        width: 100%;
    }

    .join-form{
        flex: 1 1 60%;
        margin: 0;
        min-width: 0;
    }

    .membership{
        flex: 0 0 300px;  /* fixed-ish column for cards */
        display: grid;
        min-width: 0;
        grid-template-columns: 1fr;
    }

    .membership h2{
        text-align: center;
    }
}

@media only screen and (min-width: 43em){
    .directory-list section.card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: fit-content;
    }

    .business-head .membership{
        right: -1rem;
    }
}

@media (min-width: 64em){
    .local-data{
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "events weather forecast";
    }

    .discover{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
