@media only screen and (min-width: 38rem){

    header, main, nav, footer{
        max-width: 1400px;
        margin: 0 auto;
    }

    .navigation ul{
        flex-direction: row;
        gap: 1rem;
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px dotted white;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0;
        padding: 1rem;
    }

    footer .socials img:hover{
        border: 1px var(--primary-color) solid;
        border-radius: .5rem;
    }

    main button:hover, 
    .navigation a:hover, 
    .navigation li.current a:hover {
        color: var(--primary-color);
        background-color: var(--background-color);
        box-shadow: 0px 2px 8px black;
    }

    #view-switch button:hover{
    background-color: var(--secondary-color);
    }

    .modified{
        grid-column: 3/4;
    }
}
