@media only screen and (min-width: 38rem){

    header, main, nav, footer{
        max-width: 1400px;
        margin: 0 auto;
    }

    header img{
        margin: 0 1rem;
    }

    header span {
        margin: 0 1rem;
        font-size: 2rem;
    }

    .hamburger {
        display: none;
    }

    .navigation ul{
        flex-direction: row;
        gap: 1rem;
    }

    .navigation {
        display: block;
    }


    footer{
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px dotted white;
        justify-content: center;
        text-align: center;
        gap: 0;
        padding: 1rem;
    }

    footer .socials img:hover{
        border: 1px var(--primary-color) solid;
        border-radius: .5rem;
    }

    main button:hover, 
    .navigation a:hover, 
    .navigation li.current a:hover,
    .hero a:hover {
        color: var(--primary-color);
        background-color: var(--background-color);
        box-shadow: 0px 2px 8px black;
    }

    #view-switch button:hover{
    background-color: var(--secondary-color);
    }

    .modified{
        grid-column: 2/3;
    }

    a.url{
        transition: 
            color 0.3s ease-in, 
            background-color 0.3s ease-in, 
            box-shadow 0.3s ease-out;
    }

    a.url:hover{
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    .local-data{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .events-list{
        grid-template-columns: 1fr 1fr;
    }

    .hero h2{
        position: absolute;
        top: 35%;
        background-color: rgba(0, 0, 0, .5);
        border-radius: .5rem;
        padding: .2rem;
    }

    .hero a {
        position: absolute;
        bottom: 1.5rem;
    }   
}

/* 752px */
@media only screen and (min-width: 47rem){

    .directory-list .card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 96px;
        min-height: 96px;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .directory-list .address{
        grid-row: 1;
        grid-column: 3/4;
        text-align: center;
    }

    .directory-list .contact{
        grid-row: 1;
        grid-column: 2/3;
    }

    .directory-list .desc{
        grid-column: 4/5;
        display: block;
    }

    .directory-list .logo{
        grid-column: 5/6;
        display: block;
        width: 80px;
        height: auto;
        position: absolute;
        right: 2rem;
    }
}
