a{
    color: var(--accent2);
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid var(--secondary-color);
    padding: .25rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
}

a:hover,
a:focus {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

button{
    background-color: var(--secondary-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem;
    box-shadow: 0px 2px 8px black;
}

button:hover{
    background-color: var(--accent1);
}

header{
    display: grid;
    grid-template-columns: 64px minmax(350px, 1fr) 64px;
    padding: 3rem;
    align-items: center;
    max-width: fit-content;
    height: auto;
    padding: 8px;
    gap: 1rem;
}

.nav-icon{
    display: block;
    width: 100%;
    height: auto;
    border-radius: .25rem;
    box-shadow: 0px 2px 8px black;
    width: 64px;
    height: 64px;
}

header h1{
    display: flex;
    flex-wrap: wrap;

}

.navigation{
    display: none;
    background-color: transparent;
    width: 100%;
    
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.navigation.show{
    display: block;
    grid-row: 2;
    grid-column: 1/-1;
    padding: 1rem;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    width: 64px;
    height: 64px;
    justify-self: right;
    background-color: var(--secondary-color);
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 3rem;
}

.navigation a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    min-width: 48px;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 8px black;
    transition: box-shadow 0.3s ease;
}

.navigation a:hover{
    background-color: var(--accent1);
    box-shadow: 4px 6px 12px black;
}

