:root {
    --primary-color: #184781;
    --secondary-color: #F5B041;
    --accent1: #F8C978;
    --accent2: #123E6D;
    --bg-color: #EAF4FB;
    --bg-accent1: #D1E7F5;
    --bg-accent2: #8BC3E4;
    --text-color: #2C3E50;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 0 auto;
    gap: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3{
    text-align: center;
    color: var(--primary-color);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* get the last section and expand the grid to all columns */
main > section:last-of-type{
  grid-column: 1/-1;
}

section{
    text-align: left;
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--bg-accent1);
}

section:nth-child(even){
    background-color: var(--bg-accent2);
}

ul{
    margin-left: 8px;
    text-align: left;
}

li{
    padding: .5rem;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul{
    list-style: none;
}

nav li{
    padding: .1rem;
}



