:root {
    --primary-color: #154360;
    --secondary-color: #F5B041;
    --accent1: #F8C978;
    --accent2: #4A90E2;
    --bg-color: #D6EAF8;
    --bg-accent: #B3D8EE;
    --text-color: #2C3E50;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header{
    display: grid;
    grid-template-columns: 48px 1fr;
    padding: 3rem;
}

h1, h2, h3 {
    color: var(--primary-color);
}

.menu-items{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: right;
}

.menu-items a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    min-width: 48px;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 8px black;
}

a{
    color: var(--accent2);
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-items a:hover{
    background-color: var(--accent1);
}

button{
    background-color: var(--secondary-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem;
    box-shadow: 0px 2px 8px black;
}

button:hover{
    background-color: var(--accent1);
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    background-color: var(--bg-accent);
    max-width: 900px;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    box-shadow: 0px 2px 8px black;
}

.directory section{
    min-height: fit-content;
}

.list-style{
    height: 100px;
}

.list-style ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 225px 120px 1fr;
    gap: 1rem;
    align-items: center;
    width: 100%;

}

.card:hover, .list-style:hover{
    scale: 1.05;
}


/* select first list item */
.list-style ul li{
    text-align: left;
}


.list-style ul li:last-child{
    text-align: right;

}

.list-style:nth-child(even){
    background-color: #eee;
}

.card img{
    margin: 0 auto;
}

.view-switch{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: .5rem;
}

.flex-parent{
    display: flex;
    justify-content: center;
}

.address{
    position: relative;
    display: inline-block;
}

.address::after{
    content: "📍";
    position: absolute;
    right: -15px;
    top: 0;
}

.ch-address{
    text-align: left;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: dotted 1px black;
}

footer section{
    background-color: transparent;
    border: none;
    align-items: center;
    max-width: fit-content;
    gap: 0;
    box-shadow: none;
}

.center{
    text-align: center;
}