:root {
    --primary-color: #154360;
    --secondary-color: #F5B041;
    --accent1: #F8C978;
    --accent2: #4A90E2;
    --bg-color: #D6EAF8;
    --bg-accent: #B3D8EE;
    --text-color: #2C3E50;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header, main, footer{
        min-width: 550px;
    }


body{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-width: 21rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}


h1, h2, h3 {
    color: var(--primary-color);
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    padding: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    background-color: var(--bg-accent);
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    box-shadow: 0px 2px 8px black;
}

.directory section{
    min-height: fit-content;
    position: relative;
}

.list-style img{
    position: absolute;
    right: .5rem;
    border-radius: .5rem;
}

.list-style ul{
    list-style: none;
    display: grid;
    align-items: center;
    justify-content: left;
    min-width: 300px;
    width: 100%;
}

.list-style ul li{
    text-align: left;
    justify-content: left;
}

.list-style:nth-child(even){
    background-color: #eee;
}

.card:hover,
.list-style:hover,
#grid-view:hover,
#list-view:hover{
    scale: 1.05;
}

.card img{
    margin: 0 auto;
}

.view-switch{
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: .5rem;
}

.address{
    /* position: relative; */
    display: inline-block;
}

.address::after{
    content: "📍";
    margin-left: 1rem;
}

.ch-address{
    text-align: left;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: dotted 1px black;
}

footer section{
    background-color: transparent;
    border: none;
    align-items: center;
    max-width: fit-content;
    gap: 0;
    box-shadow: none;
    font-size: .9rem;
}

.center{
    text-align: center;
}