.fav-grid{
    grid-template-columns: 1fr;
    width: 100%;
}

#favorites h2{
    text-align: left;
}

form{
    width: 100%;
}

legend{
    width: fit-content;
    padding: var(--small);
    text-align: center;
    font-size: 1.5rem;
}

fieldset{
    gap: var(--medium);
    border: none;
    width: 100%;
}

label{
    display: flex;
    flex-direction: column;
}


input[type="file"]::file-selector-button{
    margin-right: var(--medium);
    margin: var(--small) var(--medium) var(--small) var(--small);
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea, select{
    min-height: var(--touch-target);
    padding-left: var(--small);
}

textarea{
    padding-top: var(--small);
    height: 150px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select:invalid {
  color: rgba(42, 42, 42, 0.4);
  background-color: var(--bg2);
}

select:valid { 
    color: var(--text2);
}