.recipe{
    text-align: center;
    justify-content: center;
    /* 320w 8px padding left and right = maxwidth 304px */
    grid-template-columns: repeat(auto-fit, minmax(288px, 304px));
    gap: var(--medium);
}

.recipe .card{
    display: grid;
    gap: var(--small);
    padding: var(--small);
    margin: 0 auto;
}

.recipe .card img{
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--shadow-less);
    width: 100%;
}

.recipe .card-image{
    display: block;
    align-self: center;
    object-fit: cover;
}

.recipe .card ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.recipe .card ul.info{
    flex-direction: column;
}

.recipe h2, .recipe button{
    grid-column: 1/-1;
}

.recipe button.view{
    width: 100%;
}

#display-more{
    display: none;
}

.card.extra{
    display: none;
}

/* dialogs */
dialog {
    border: none;
    border-radius: var(--radius);
    background: transparent;
    padding: 0;
}

dialog[open]{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] .card {
    display: grid;
    gap: var(--small);
    padding: var(--small);
    background-color: var(--bg2);
    border-radius: var(--radius);
    box-shadow: var(--shadow-dark);
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

dialog .card img.modal-image {
    display: block;
    width: 100%;
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--shadow-less);
    object-fit: cover;
}

#heading{
    justify-content: space-between;
    align-items: center;
}

.recipe .card #heading h3{
    width: fit-content;
    align-self: baseline;
}

.recipe .card #instructions{
    padding: var(--small);

}

.ingredients{
    justify-content: center;
    flex-wrap: wrap;  
}

.ingredients li{
    width: fit-content;
}

/* Recipes page  specific */
#categories-buttons{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#categories-buttons li button{
    width: 112px;
}

#modal-image{
    position: relative;
}

.add-fav, .remove-fav{
    position: absolute;
    bottom: var(--small);
    right: var(--small);
}