:root{

    /* Fonts */
    --font1: "Lobster", sans-serif;
    --font2: "Nunito", sans-serif;
    --weight: 400;

    /* Colors */
    --color1:  #2E7D32; /* Deep Green */
    --color2: #F9A825; /* Warm Gold */
    --bg1: #FFF8E1; /* Soft Cream */
    --bg2: #FFFFFF; /* White */
    --text1: #212121; /* Near Black */
    --text2: #424242; /* Charcoal Gray */
    --alert: #C62828; /* Brick Red */
    --confirm: #388E3C; /* Forest Green */
    --highlight: #FFCA28 ; /* Light Golden */

    /* Buttons / Links */
    --btn-bg: var(--color2);
    --touch-target: 48px;
    /* Hover */
    --btn-bg-h: var(--highlight);

    /* Borders */
    --border-color: var(--color2);
    --border-size: 2px;
    --radius: .5rem;
    --border: var(--border-size) solid var(--border-color);

    /* Spacing */
    --around: 1rem;
    /* Shorthand (vertical horizontal) */
    --top-bottom: 1rem 0;
    --sides: 0 1rem;
    /* Gaps */
    --small: .5rem;
    --medium: 1rem;
    --large: 2rem;
    --double: 4rem;

    /* Shadows */
    --shadow-dark: 10px 15px 20px #212121;
    --shadow-text: 5px 5px 15px #212121;
    --shadow-light: 10px 15px 20px #FFFFFF;
    --shadow-less: 0 2px 6px #212121;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
    font-family: var(--font2);
    color: var(--text-color);
    background-color: var(--bg1);
    font-weight: var(--weight);

}

main.flex-column{
    gap: var(--large);
    padding: var(--around);
}

h1, h2, h3, h4, legend{
    font-family: var(--font1);
    color: var(--color1);
    font-weight: var(--weight);
}


.navigation a, 
main a, 
main button, 
input[type="file"]::file-selector-button{
    text-decoration: none;
    text-align: center;
    color: var(--text2);
    background-color: var(--btn-bg);
    box-shadow: var(--shadow-less);
    border-radius: var(--radius);
    border: var(--border);
    font-weight: var(--weight);
    min-height: var(--touch-target);
    padding: .7rem;
    align-content: center;
    cursor: pointer;
    transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out,
        border-color 0.3s ease-in-out,
        scale 0.3s ease-in-out;
}

/* Prevent natural button radius to effect nav*/
.navigation a{
    border-radius: 0;
    border: none;
}

ul, ol{
    list-style: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.flex-row{
    display: flex;
    justify-content: center;
    gap: var(--small);
}

.grid{
    display: grid;
    gap: var(--small);
}

.center{
    text-align: center;
}

.indent{
    text-indent: 1rem;
}

.required::after{
    content: "*";
    color: var(--alert);
    font-size: 1.5rem;
    margin-left: var(--small);
}

.card{
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--bg2);
    box-shadow: var(--shadow-dark);
    padding: var(--small);
}

dialog{
    margin: auto auto;
}

dialog #close{
    width: var(--touch-target);
    z-index: 10;
}

::backdrop{
    background-color: rgba(21, 21, 21, .7);
}

footer{
    gap: var(--medium);
    padding: var(--large);
}

.site-info{
    gap: 0;
}

/* class from last-modified script */
.modified{
    text-align: center;
}