@media only screen and (min-width: 38rem){
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }


    header{
        grid-template-columns: 24px auto;
        
    }
    
    .hamburger{
        display: none;
    }

    .navigation{
        display: block;
        grid-row: 2;
        grid-column: 2/3;
    }

    .navigation ul{
        display: flex;
        gap: .5rem;
    }

    .navigation a{
        padding: .5rem;
        border: none;
    }
}