/** 
    ---------------- Color scheme ----------------------- 
        primary color: rgba(70, 83, 107);

**/

/* Page wide */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: rgba(70, 83, 107, .25);
    font-family: "Roboto", sans-serif;
    /* <weight>: Use a value from 100 to 900 */
    font-weight: 400;

}

a {
    text-decoration: none;
    color: black;
}

header, footer{
    background-color: rgba(0, 0, 0, .1);
}

.indent{
  text-indent: 1rem;
}

.center{
    text-align: center;
}


/** Header **/

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  gap: 8px;
  align-items: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: .5rem;
}

header span {
    font-size: 1.2rem;
    color: black;
    margin-left: .5rem;
}

/** Hamburger **/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/** Navigation **/

.navigation {
    grid-column: 1/-1;
    
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation li{
  border-radius: .5rem;
}

.navigation li a{
  display: flex;
  align-items: center;
}

li.current a::after {
    content: "🎯";
}

main .buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  padding: 8px 8px;
}

main .buttons button, .navigation a{
  color: white;
  display: block;
  background-color: rgba(70, 83, 107);
  box-shadow: 4px 6px 12px black;
  border: 2px #aaa solid;
  border-radius: .5rem;
  padding: .5rem;
  transition: color 0.3s ease-in, background-color 0.3s ease-in, box-shadow 0.3s ease-out;
  cursor: pointer;
  min-height: 44px;
  min-width: 44px;
}

.navigation li.current a {
     background-color: rgb(47, 55, 72);
}

main button:hover, .navigation a:hover, .navigation li.current a:hover {
  color: red;
  background-color: #ddd;
  box-shadow: 0px 2px 8px black;
}

/* Main */

h1{
  margin: 0;
  padding: 0 8px;
}

h2, h3{
    text-align: center;
    background-color: rgba(70, 83, 107);
    border: 1px solid rgba(70, 83, 107);
    padding: 4px;
    margin: -4px;
    color: white
}

.layout{
    display: grid;
    gap: 1em;
    padding: 8px;
}

main section{
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .1);
}

main section img{
  display: block;
  width: 90%;
  height: auto;
  background-color: #bbb;
  margin: 8px auto;
  padding: 8px;
  border: #aaa;
  border-radius: .5rem;
  overflow: hidden;
}

main section p{
  padding: 1rem;
  color: black;
  line-height: 1.5;
}

/* Courses */

.course-list{
  display: flex;
  list-style: none;
  gap: .5rem;
  padding: 8px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.course-list li{
  border: 2px #aaa solid;
  border-radius: .5rem;
  padding: 8px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

li.true{
  background-color: #bbb;
  border-color: green;
}

li.true::before{
  content: "✔";
  color: green;
  margin-right: 8px;
}

li.false{
  background-color: #ddd;
  border-color: red;
}

li.false::before{
  content: "❌";
  margin-right: 8px;
}
.course-count, .credits{
  text-align: center;
  padding: .25rem;
}

/* Modal */
dialog {
  margin: auto auto;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
  position: relative;
}

#course-details{
  background-color: #fff;
  box-shadow: 0 2px 12px 2px #fff;
}

::backdrop {
  background-color: rgb(0 0 0 / 60%);
}

dialog button {
  position: absolute;
  align-items: center;
  font-size: 2rem;
  top: 23px;
  right: 23px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .5rem;
  min-height: 44px;
  min-width: 44px;
}

/** Footer **/

footer {
    padding: .5rem;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials a{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.socials img{
    border: 2px solid black;
    border-radius: 2rem;
    padding: .25rem; /* 4px */
}

.socials img:hover{
    border-color: red;
}



